

body {
    font-family: Arial, Helvetica, sans-serif;
  } /*PODEMOS CAMBIARLA, BUSCA ALGO ORIGINAL TIPO MONOSPACE*/



  /*style the header:   */
  .header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #3d4544; /* green background */
    color: white; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 40px;
  }



  /* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #f90505; /*background color */
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side, SON LOS 3 PRIMEROS!! */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right; /* Float a link to the right */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #35e809; /*background color */
    color: black; /* Black text color */
  }




  /*We use CSS Flexbox to handle the layout:   */
  /* Ensure proper sizing */
* { /*The CSS box-sizing property allows us to include the padding and border in an element's total width and height.*/
    box-sizing: border-box;
  } /*JavaScript syntax: object.style.boxSizing="border-box"*/
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1e109; /*background color */
    padding: 20px; /* Some padding */
  }
  
  /* Main column */
  .main {
    display: flex; /*The flex container becomes flexible by setting the display property to flex*/
    /*ESTO HACE QUE CADA DIV EN VEZ DE ESTAR UNO DEBAJO DE OTRO (BLOCK) SE 'ACOMODEN' UNO SIGUIENTE DEL OTRO*/
    flex-direction: column;
    /*ESTO QUE SIGUE ES SOBRE COMO SE COMOPRTA EL MAIN CONTAINER CON RESPECTO AL CONTAINER DEL LAYOUT QUE ES .row*/
    flex: 70%; /* Set the width of the main content */
    background-color: rgb(69, 229, 133); /*background color */
    padding: 20px; /* Some padding */
    text-align: center;
  }
   
  /*AHORA CADA DIV QUE ESTAN DENTRO DEL CONTAINER .main*/
  .main > div {
    background-color: #eaff29;
    width: 100px;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }



  /*MAKE RESPONSIVE WITH MEDIA QUERIES*/
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }




  /*STYLING THE FOOTER*/
  .footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #0864bb; /*background */
    color: white;
  }